<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Homepage - PBCS</title>
 {% include "shared/includes.html" %}
</head>
<body class="">
	<div class="page">
		<div class="page-main">
			{% with active="home" %}
			
			{% include "shared/head.html" %}
				
			{% endwith %}
		<div class="my-3 my-md-5">
				<div class="container">
					<div class="row row-cards row-deck">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Levels</h3>
									<div class="card-options">
									 <a href="/levels/new" 
				                         class="btn btn-outline-primary btn-sm"  title="Add new level"> New  <i class="fe fe-plus"  ></i> </a>  
				                    </div>
								</div>
								<div class="card-body px-0 py-0">
									<div class="table-responsive">
									<table class="table card-table table-vcenter text-nowrap" style="table-layout: fixed;">
										<thead>
											<tr>
												<th style="width: 20%;">Level1</th>
												<th style="width: 10%;">LE LIST</th>
												<th style="width: 15%;">NAT LIST</th>
												<th style="width: 15%;">DEPT List</th>
												<th style="width: 15%;">DEPT Exclusion List</th>
												<th style="width: 15%;">LOB</th>
												<th style="width: 10%;">Actions</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="table-responsive" style="max-height: 60vh;">
									<table id="data-table" class="table card-table table-vcenter text-nowrap" style="table-layout: fixed;">
									  <thead style="display: none;">
											<tr>
												<th style="width: 20%;">Level1</th>
												<th style="width: 10%;">LE LIST</th>
												<th style="width: 15%;">NAT LIST</th>
												<th style="width: 15%;">DEPT List</th>
												<th style="width: 15%;">DEPT Exclusion List</th>
												<th style="width: 15%;">LOB</th>
												<th style="width: 10%;">Actions</th>
											</tr>
										</thead>

										<tbody>
											{% if all_levels|length : %}
											{% for level in all_levels: %}
											<tr>
												<td title="{{level.level1}}"><a href="/levels/{{level.id}}">{{level.level1}}</a></td>
												<td title="{{level.ne_list}}">{{level.ne_list}}</td>
												<td title="{{level.nat_list}}">{{level.nat_list}}</td>
												<td title="{{level.dep_list}}">{{level.dep_list}}</td>
												<td title="{{level.dep_ex_list}}">{{level.dep_ex_list}}</td>
												<td title="{{level.lob}}">{{level.lob}}</td>
												<td> 
												<a class="icon" href="/levels/{{level.id}}">
					                              <i class="fe fe-edit"></i>
					                            </a>
					                            <a class="icon" href="/levels/{{level.id}}/destroy">
					                              <i class="fe fe-x-square"></i>
					                            </a> 
					                            </td>
											</tr>
											{% endfor
											   
											 %}
											
											{% endif  %}
											
											{% if all_levels|length ==0  : %}
											<tr>
											 <td colspan="7"> <div class="ml-auto" style="text-align: center;"> No Levels Found. </div> </td>
											</tr>
											{% endif %}

										</tbody>

									</table>
								</div>
								
								</div>
								<div class="card-footer text-right">
									<div class="d-flex">
										<button id="export" type="button" class="btn btn-outline-primary ml-auto ">Export CSV
											export</button>	
											
										 
									</div>
								</div>
								<script type="text/javascript">
	 
				
									require(['core', 'jquery.exportCSV'], function(){
										$("#export").click(function(){
											 $("#data-table").tableToCSV();
										});
									});
								
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "shared/foot.html" %}
		 
	</div>
</body>
</html>