<!doctype html>
<html lang="en" dir="ltr">
<head>
<title>Homepage - PBCS</title>
 {% include "shared/includes.html" %}
</head>
<body class="">
	<div class="page">
		<div class="page-main">
			{% with active="home" %}
			
			{% include "shared/head.html" %}
				
			{% endwith %}
		<div class="my-3 my-md-5">
				<div class="container">
					<div class="row row-cards row-deck">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Levels</h3>
									<div class="card-options">
									
									 <a href="/levels/new" 
				                         class="btn btn-outline-primary btn-sm"  title="Add new level"> New  <i class="fe fe-plus"  ></i> </a> 
				                     <a href="/levels/remove-all" 
				                         class="btn btn-outline-primary btn-sm"  title="Add new level"> Delete All  <i class="fe fe-x"  ></i> </a>  
				                    </div>
								</div>
								<div class="card-body px-0 py-0">
									<div class="table-responsive">
									<table class="table card-table table-vcenter text-nowrap" style="table-layout: fixed;">
										<thead>
											<tr>
												<th style="width: 5%;">#</th>
												<th style="width: 28%;">Level1</th>
												<th style="width: 10%;">LE LIST</th>
												<th style="width: 12%;">NAT LIST</th>
												<th style="width: 12%;">DEPT List</th>
												<th style="width: 13%;">DEPT Exclusion List</th>
												<th style="width: 10%;">LOB</th>
												<th style="width: 10%;">Actions</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="table-responsive" style="max-height: 60vh;">
									<table id="data-table" class="table table-striped table-hover card-table table-vcenter text-nowrap" style="table-layout: fixed;">
									  <thead style="display: none;">
											<tr>
												<th style="width: 5%;">#</th>
												<th style="width: 28%;">Level1</th>
												<th style="width: 10%;">LE LIST</th>
												<th style="width: 12%;">NAT LIST</th>
												<th style="width: 12%;">DEPT List</th>
												<th style="width: 13%;">DEPT Exclusion List</th>
												<th style="width: 10%;">LOB</th>
												<th style="width: 10%;">Actions</th>
											</tr>
										</thead>

										<tbody>
											{% if all_levels|length : %}
											{% for level in all_levels: %}
											<tr>
												<td style="width: 5%;"> {{loop.index}}</td>
												<td style="width: 28%;" title="{{level.level1}}"><a href="/levels/{{level.id}}">{{level.level1}}</a></td>
												<td style="width: 10%;" title="{{level.ne_list}}">{{level.ne_list}}</td>
												<td style="width: 12%;" title="{{level.nat_list}}">{{level.nat_list}}</td>
												<td style="width: 12%;" title="{{level.dep_list}}">{{level.dep_list}}</td>
												<td style="width: 13%;" title="{{level.dep_ex_list}}">{{level.dep_ex_list}}</td>
												<td style="width: 10%;" title="{{level.lob}}">{{level.lob}}</td>
												<td style="width: 10%;" > 
												<a class="icon" href="/levels/{{level.id}}">
					                              <i class="fe fe-edit"></i>
					                            </a>
					                            <a class="icon" href="/levels/{{level.id}}/destroy">
					                              <i class="fe fe-x-square"></i>
					                            </a> 
					                            </td>
											</tr>
											{% endfor
											   
											 %}
											
											{% endif  %}
											
											{% if all_levels|length ==0  : %}
											<tr>
											 <td colspan="8"> <div class="ml-auto" style="text-align: center;"> No Levels Found. </div> </td>
											</tr>
											{% endif %}

										</tbody>

									</table>
								</div>
								
								</div>
								<div class="card-footer text-right">
									<div class="d-flex">
										<form action="/levels/import" class="upload-form" enctype="multipart/form-data" method="post">
											<div class="input-group">
												<div class="custom-file" style="text-align: left;">
													<input type="file" class="custom-file-input" name="file">
													<label class="custom-file-label">Choose file</label>
												</div>
												<div class="input-group-append">
													<button type="submit" class="btn btn-outline-primary">Import</button>
													 
												</div>
											</div>
										</form>
										<button id="export" type="button" class="btn btn-outline-primary ml-auto ">Export to CSV
											</button>	
											
										 
									</div>
								</div>
								<script type="text/javascript">
	 
				
									require(['core', 'jquery.exportCSV'], function(){
										bf.init();
										$("#export").click(function(){
											 $("#data-table").tableToCSV();
										});
									});
								
								</script>
							</div>
						</div>
						
						 {% for errors in allErrors %}
						 <div class="col-sm-12">
					       {% if errors %}
			                <div class="alert alert-warning">
			                	<ul>
					        {% for field in errors %}
					        	{% if field == 'duplicate': %}
					        		<li>Duplicate : {{ errors[field]['msg'] }}
					        		{% set id = errors[field]['id'] %}
					        		{% set level1 = errors[field]['level1'] %}
					        		<a href='/levels/{{id}}'> {{level1}} </a>
					        		</li>
					        	{% endif %}
					        	{% if field != 'duplicate': %}
					                <li>{{ errors[field] }}</li>
					        	{% endif %}
					        	
					        {% endfor %}
					        	</ul>
			                </div>
					       {% endif %}
						
						</div>
						 {% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% include "shared/foot.html" %}
		 
	</div>
</body>
</html>